@import url(./Main/default.css);
@import url(./Main/intro.css);
@import url(./Main/ABXY.css);
@import url(./Main/hover.css);
@import url(./Main/transitionTV.css);
@import url(./Main/language.css);
@import url(./Main/responsive.css);

body
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}