#boutons
{
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position: absolute;
}
.Y, .A, .B, .X
{
    width: 16.5vw;
    aspect-ratio: 1/1;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position: absolute;
    z-index: 5;
    transition: 1s;
}
.Y
{
    top: -30vw ;
    background: radial-gradient(circle, rgba(255,175,0,1) 50%, rgba(255,255,255,0) 76%); 
    filter: drop-shadow(0px 0px 20px rgba(255,175,0,.5));
}
.Y h1
{
    color: rgba(255,175,0,1);
}
.A
{
    top: 30vw ;
    background: radial-gradient(circle, rgba(4,255,0,1) 50%, rgba(255,255,255,0) 76%); 
    filter: drop-shadow(0px 0px 20px rgba(4,255,0,.5));
}
.A h1
{
    color: green;
}
.B
{
    left: 30vw;
    background: radial-gradient(circle, rgba(255,4,0,1) 50%, rgba(255,255,255,0) 76%); 
    filter: drop-shadow(0px 0px 20px rgba(255,4,0,.5));
}
.B h1
{
    color: rgba(255,40,40,1);
}
.X
{
    position: absolute;
    left: -30vw;
    background: radial-gradient(circle, rgba(0,116,255,1) 50%, rgba(252,176,69,0) 76%); 
    filter: drop-shadow(0px 0px 20px rgba(0,116,255,.5));
}
.X h1
{
    color: rgba(0,116,255,1);
}

.A h1, .B h1, .X h1, .Y h1
{
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));
    font-size: 5vmin;
    text-align: center;
}