@import url(../RessourcesImport/Polices/polices.css);

/*P/ Bouton power-------------------------------------------------- */
#off, #on
{
    visibility: hidden;
}
.btnOff
{
    position: absolute;
    left: .5vw;
    top: 1vh;
    font-size: 50px;
    visibility: hidden;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), auto;
    z-index: 2;
}

/*P// Enter-------------------------------------------------- */

.btnOn
{
    font-family: DQ;
    font-size: 20vmin;
    width: 75vw;
    height: 50vh;
    position: absolute;
    display: flex;
    text-align: center;
    left : 0 ; top: -10vh ; bottom: 0 ; right: 0 ; margin: auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(255,201,0,1) 33%, rgba(255,89,0,1) 50%); ;
    background-repeat: no-repeat;
    color: transparent;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    animation: blink 3s infinite alternate;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), auto;
}
@keyframes blink
{
    0% {opacity: 0;
        filter: brightness(0) drop-shadow(0px 1.5vmin black)}
    25% {opacity: 1;
        filter: brightness(1.5) drop-shadow(0px 1.5vmin black);
    }
    100% {opacity: 1;
        filter: brightness(1.5) drop-shadow(0px 1.5vmin black);
    }
}

/*P/// Animation-------------------------------------------------- */

.visible
{
    visibility: visible;
    transform: scale(1);
    transition: 1s;
}
.invisible
{
    visibility: hidden;
    transform: scale(0);
    transition: 1s;
}
#aide
{
    width: 200px;
    transition : opacity 1s;
    opacity : 0;
    left : 0 ; top: 0 ; margin: auto;
    position: absolute
}
#help
{
    width: 190px;
    height: 42.44px;
    text-align: center;
    font-family: Alegreya;
    color:white;
    transition : opacity 1s;
    opacity : 0;
    left : 0 ; top: 0 ; margin: auto;
    position: absolute
}
