#transition
{
    display: none;
}
#ecran
{
    width: 100vw;
    height: 0vh;
    background-color: white;
    border-radius: 15%;
    filter: blur(2px);
    z-index: 11;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position:absolute;
    animation: light .5s .3s forwards;
}
#fermeture
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    left : 0 ; top: 0 ; right: 0 ; margin: auto;
    position:absolute;
    animation: up 0.3s forwards;
    transition : 0.3s
}
#eclair
{
    width: 100vw;
    height: 0vh;
    background-color: black;
    z-index: 10;
    left : 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position:absolute;
    animation: up .3s forwards;
    transition : 0.3s
}

@keyframes up
{
    from
    {
        height: 0vh;
    }
    to
    {
        height: 50vh;
    }
}
@keyframes down
{
    0% {top: -200vh;}
    100%
    {
        transform: translateY(51vh);
    }
}
@keyframes light
{
    0% 
    {
        width: 100vw;
        height: 2vh;
    }
    100%
    {
        width: 0;
        height: 0;
        opacity: 0;
    }
}