@import url(../../RessourcesImport/menu/menu.css);
@import url(../../Main/default.css);
@import url(../../RessourcesImport/Polices/polices.css);
@import url(../../Main/language.css);
@import url(../../Main/responsive.css);


#projectshub
{
    width: 90vw;
    height: 95vh;
    display: block;
    position: absolute;
    left : 5vw ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, 47.5vh);
    align-items: start;
    justify-items: center;
    align-items: center;
}
#desc
{
    position: absolute;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Alegreya;
    color: #FCFCFC;
    filter: drop-shadow(1vmin 1vmin 1vmin black);
}
#projectshub div:nth-of-type(n)
{
    background-color: #FCFCFC;
    border-radius: 2vmin;
    border-top-right-radius: 2.5vmin;
    border-top-left-radius: 2.5vmin;
    width: 40vw;
    height: 40vh;
    text-align: center;
    font-family: Bethesda;
    text-decoration: underline;
    filter: drop-shadow(1vmin 1vmin 1vmin black);
}
.project1, .project2
{
    width: 100%;
    height: 90%;
    border-top-right-radius: 2vmin;
    border-top-left-radius: 2vmin;
    pointer-events: none;
}
#project3, #project4
{
    opacity: .2;
}