@import url(../../RessourcesImport/menu.css);

li::before
{
    content: "";
}
li
{
    position: relative;
    top: 0px;
    left: -0px;
    /* list-style-image: url(../ON-icon-zonestory-assisted.png); */
    list-style: disc;
    margin-top: 0px;
    text-transform: uppercase;
    padding-top: .5vh;
    
}
#burger:checked ~ .cv
{
        display: grid;
        flex-wrap: wrap;
        position: relative;
        grid-template-rows: 30vh 15vh 15vh 30vh;
        grid-template-columns: 20vw 57vw;
        margin-left: 17vw;
        margin-right: 5vw;
        margin-top: 0vh;
        row-gap: 2vh;   
        column-gap: 2vw;        
        transition: 2s;
}
.cv
{
    display: grid;
    flex-wrap: wrap;
    position: relative;
    grid-template-rows: 30vh 15vh 15vh 30vh;
    grid-template-columns: 20vw 65vw;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-top: 0vh;
    row-gap: 2vh;   
    column-gap: 2vw;
    transition: 2s;
    top: -1vh;
}

/* ------------------------------------------------------------------------------------------- */

.photo
{
    width: auto;
    height: 35vh;
    background: url(/RessourcesImport/artworks-000420504324-qbn3os-t500x500.jpg);
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-position: -150px 20px;
    grid-row: 1;
    grid-column: 1;
    
}
.exp
{
    width: auto;
    height: auto;
    background-color: #D7CEC7;
    border: 5px inset #C09F80;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    grid-row: span 2;
    grid-column: 2;
}
.dplome
{
    width: auto;
    height: auto;
    grid-row: 1;
    grid-column: 2;
    background-color: #D7CEC7;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 5px inset #76323f;
}
.hobby
{
    width: auto;
    height: auto;
    background-color: #D7CEC7;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 5px inset #323776;    grid-row: span 2;
    grid-column: 1;
}
.maitrises
{
    width: auto;
    height: auto;
    background-color: #D7CEC7;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 5px inset #565656;    grid-row: 4;
    grid-column: 2;
}
.hobby li
{
    width:inherit;
}
.contact
{
    position: relative;
    top: 5vh;
    width: auto;
    height: 7vh;
    background-color: #D7CEC7;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 5px inset #32765a;
    grid-row: 2;
    grid-column: 1/2;
    text-align: center;
    text-transform: uppercase;
}
.contact h1
{
    padding-top: 0;
    font-size: 2.5vh;
}
h3
{
    padding-left: 15px;
}
.cv li
{
    padding-top: 4vh;
    width: inherit;
}
.hobbyul li
{
    font-size: 1.25vh;
    padding-top: 0;
    left: -2vw;
}
/* ------------------------------------------------------------------------------------------- */
#sword
{
    visibility: hidden;
}
.sword
{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 80px;    
    transition: 2s;
}
#burger:checked ~ .sword
{
    top: 90vh;
    transition: 2s;
}
nav li
{
    position: relative;
    top: 100px;
    left: -50px;
    /* list-style-image: url(../ON-icon-zonestory-assisted.png); */
    list-style: none;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 5vh;
    
}
nav li::before
{
    position: relative;
    content: url(/RessourcesImport/ON-icon-zonestory-assisted.png);
    top: 5px;
}

/* ------------------------------------------------------------------------------------------- */
#burger:checked ~ .info
{
    top: 88vh;
    left: 5vw;
    transition: 2s;
    clip-path: polygon(0 40%, 43% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 18% 50%);
}
.info
{
    clip-path: polygon(37% 18%, 60% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 45% 50%);
    width: 9.5vw;
    height: 12vh;
    background: white;
    position: absolute;
    top: 14vh;
    opacity: 0.05;
    transition: opacity 3s 2s, clip-path 2s, top 2s, left 2s;
}
.info:hover
{
    opacity: 1;
    transition: opacity 2s 0s;
}
.info p:hover
{
    opacity: 1;
    transition-duration: 2s;
}
.info p
{
    display: block;
    position: relative;
    text-align: center;
    top: 4vh;
}
#close
{
    visibility: hidden;
}
#close:checked ~ .info
{
    display: none;
}
#close:checked ~ #closeX
{
    display: none;
}
#closeX
{
    position: relative;
    left: 8.5vw;
    top: 6vh;
    z-index: 1;
}
#closeX:hover
{
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), default;
}

/*NOTE - Nouveau menu  */

#bulle1
{
    background-color: black;
    width: 17.5vmin;
    height: 17.5vmin;
    border-radius: 50%;
    left : -13.5vmin ; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2;
}
#bulle1 i
{
    font-size: 3vmin;
    position: relative;
    left: -1vmin; top: -.3vmin;
}
#button
{
    color: white;
    font-size: 5vmin;
}

#home, #contact, #projects, #git
{
    left : -13.5vmin ; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
    width: 27vmin;
    height: 27vmin;
    border-radius: 50%;
    transition: transform 1s;
}
#home
{
    background-color: #333333;
    clip-path: polygon(100% 0, 75% 0, 50% 0, 50% 50%);
    display: flex;
    justify-content: center;
    align-items: start;
}
#contact
{
    background-color: rgb(0,116,255);
    clip-path: polygon(100% 0, 100% 25%, 100% 50%, 50% 50%);
    display: flex;
    justify-content: end;
    align-items: center;
}
#projects
{
    background-color: rgb(4,255,0);
    clip-path: polygon(100% 100%, 100% 75%, 100% 50%, 50% 50%);
    display: flex;
    justify-content: end;
    align-items: center;
}
#git
{
    background-color: red;
    clip-path: polygon(100% 100%, 76% 100%, 50% 100%, 50% 50%);
    display: flex;
    justify-content: center;
    align-items: end;
}
.menu_selected
{
    transform: scale(0);
    transition: transform 1s
}

#home i
{
    left: 3.5vmin; top: 2.5vmin;
    position: relative;
}
#contact i
{
    left: -2.25vmin; top: -3.5vmin;
    position: relative;
}
#projects i
{
    left: -2.75vmin; top: 3.5vmin;
    position: relative;
}
#git i
{
    top: -2vmin; left: 4vmin;
    position: relative;
}
i
{
    font-size: 4vmin;
}

.pushed
{
    animation: pushed 1s forwards;
}
.unpushed
{
    animation: unpushed 1s forwards;
}

@keyframes pushed
{
    to
    {
        transform: rotate(720deg);
    }
}

@keyframes unpushed
{
    to
    {
        transform: rotate(-720deg);
    }
}