@import url(../../RessourcesImport/menu/menu.css);
@import url(../../Main/default.css);
@import url(../../RessourcesImport/Polices/polices.css);

/*P1 ------------------------------------ Link CV2 / Speech bubble ------------------------------------ */
input
{
    visibility: hidden;
}
#sword
{
    left : 1vmin; top: 2vmin ; margin: auto;
    z-index: 15;
    position: absolute;
    width: 5vmin;
    height: 5vmin;
}
#speech_bubble
{
    left : 4vmin ; top: 14vmin ; margin: auto;
    position: absolute;
    width: 15vmin;
    height: 7vmin;
    text-align: center;
    text-transform: uppercase;
    font-family: Alegreya;
    letter-spacing: .3vmin;
    font-size: 2vmin;
    background-color: antiquewhite;
    border-radius: 2vmin;
    box-shadow: 1vmin 1vmin #131313;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    transition: opacity 1s;
}
#speech_bubble::after
{
    content: "";
    width: 8vmin;
    height: 2vmin;
    background-color: antiquewhite;
    box-shadow: 1vmin 1vmin #131313;
    border-radius: 2vmin;
    left: 0;
    top: -3vmin;
    position: absolute;
    margin-bottom: 50vmin;
    font-size: 10vmin;
    color: antiquewhite;;
}
#speech_bubble::before
{
    content: "";
    width: 3vmin;
    height: 2vmin;
    background-color: antiquewhite;
    box-shadow: 1vmin 1vmin #131313;
    border-radius: 2vmin;
    left: 0;
    top: -6vmin;
    position: absolute;
    margin-bottom: 50vmin;
    font-size: 10vmin;
    color: antiquewhite;;
}
#speech_bubble:hover
{
    opacity: 1;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), auto;
}

/*P2 ------------------------------------ CV / DIV ------------------------------------ */
.cv
{
    display: grid;
    position: absolute;
    grid-template-rows: 17.5vmin 17.5vmin 12.5vmin 37.5vmin;
    grid-template-columns: 35vmin 120vmin;
    margin-left: 30vmin;
    margin-top: 5vmin;
    row-gap: 2vh;   
    column-gap: 2vw;
    top: -1vh;
    width: 159vmin;
    height: 91vmin;
    background-color: rgba(255, 0, 0, 0.3);
}
#photo
{
    width: auto;
    height: 35vmin;
    background: url(../../RessourcesImport/Images/artworks-000420504324-qbn3os-t500x500.jpg);
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-position: -150px 20px;
    grid-row: 1;
    grid-column: 1;
    
}
#diplomes
{
    grid-row: 1;
    grid-column: 2;
    background-color: #131313;
    height: 15vmin;
}
#experiences
{
    grid-row: 2;
    grid-column: 2;
    background-color: #131313;
    height: 15vmin;
    top: 15vmin;
}
#shortcut_contact
{
    grid-row: 3;
    grid-column: 1;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
}
#maitrises
{
    grid-row: 3 / span 2;
    grid-column: 2;
    background-color: #131313;
}
#Apropos
{
    grid-row: 4;
    grid-column: 1;
    background-color: #131313;
}

/*P3 ------------------------------------ DIV / P / LI ------------------------------------ */

#contact_p
{
    font-size: 5vmin;
    text-transform: uppercase;
    font-family: Alegreya;
    letter-spacing: .5vmin;
}
#diplomes li
{
    font-size: 4vmin;
    font-family: Alegreya;
    list-style: none;
    margin: 2vmin 7vmin;
}
#experiences li
{
    font-size: 4vmin;
    font-family: Alegreya;
    list-style: none;
    margin: 5vmin 7vmin;
}
#maitrises img
{
    width: 5vmin;
    height: 5vmin;
}
#Apropos li
{
    font-size: 4vmin;
    font-family: Alegreya;
    list-style: none;
    margin: 2vmin 7vmin;
}

/*P1 ------------------------------------ Animation logo ------------------------------------ */

#logo_container
{
    animation: logo 60s infinite linear;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left : 0 ; top: 1vmin ; bottom: 0 ; right: 0 ; margin: auto;
    position: relative;
}
#logo_
{
    
    width: 5vmin;
    border-radius: 50%;
    aspect-ratio: 1/1;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position: absolute;
    animation: logo reverse 60s infinite linear;
}

@keyframes logo
{
    to
    {
        transform: rotate(720deg)
    }
}