#photo.fantasy
{
    text-align : center;
    justify-content: center;
    font-family:  MG;
    background-image : none;
    cursor: url(../../RessourcesImport/Images/441-4415928_metal-gear-solid-box-png.png), auto;
    background-color : black;
    background : repeating-linear-gradient(0deg, rgba(60, 165, 103, 0.6) 0%, rgba(46, 139, 103, 0.6) 5%, rgba(46, 139, 103, 1) 10%, rgba(60, 165, 103, 0.6) 15%);
    background-position: -150px 20px;
    border : 5px solid rgb(60, 165, 103);
}
#photo.fantasy h1
{
    font-size: 5vmin;
    padding-top: 12.5vmin;
}

#diplomes.fantasy
{
    text-align : center;
    font-family: Bethesda;
    background-color : black;
    box-sizing: border-box;
    outline: .5vmin white solid;
    outline-offset: -1.5vmin;
    padding-top: .5vmin;
    cursor: url(../../RessourcesImport/Images/NormalSkyrim.cur), auto;
}
#diplomes.fantasy li::before
{
    content: "";
    background-image: url(../../RessourcesImport/Images/arrow0.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vmin;
    height: 2vmin;
    left: -1vmin;
    display: inline-block;
    position: relative;
}
#diplomes.fantasy li:hover::before
{
    background-image: url(../../RessourcesImport/Images/arrow1.png);
}

#experiences.fantasy
{
    text-align : center;
    font-family: Lifecraft;
    color: black;
    background-color : #13131300;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
#experiences.fantasy li::before
{
    content: "";
    background-image: url(../../RessourcesImport/Images/waiting.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vmin;
    height: 2vmin;
    left: -1vmin;
    display: inline-block;
    position: relative;
}
#experiences.fantasy li:hover::before
{
    background-image: url(../../RessourcesImport/Images/eye.gif);
}

#maitrises.fantasy
{
    text-align : center;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
    filter: drop-shadow(1vmin 1vmin 1vmin black);
    cursor: url(../../RessourcesImport/Images/CursorDefault.cur), auto;
}
#maitrises.fantasy #logo_container #logo_
{
    cursor: url(../../RessourcesImport/Images/CursorInteract.cur), auto;
}

#shortcut_contact.fantasy
{
    text-align : center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0);
    filter: drop-shadow(1vmin 1vmin 1vmin black);
    box-shadow: none;
    font-family: Gwent;
}

#Apropos.fantasy
{
    height: 15vh ;
    border: .6vmin solid hsla(240, 7%, 48%, 1);
    outline: .5vmin solid white;
    border-radius: .3vmin;
    background-color: rgb(57, 66, 74, 0.8);
    box-shadow: inset .3vmin .3vmin black;
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 1fr 1fr;
    font-size: 2vmin;
    font-family: DQ;
    padding-top: 3vh;
}
#Apropos.fantasy::before
{
    content: "";
    background-image: url(../../RessourcesImport/Images/sword.gif);
    background-repeat: no-repeat;
    background-size: 3vmin;
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 63.5vh;
    left: 1.5vw;
}
#proposcontinu.fantasy
{
    height: 25vh ;
    width: 30vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 2.5vh;
}
.toggled
{
    background-image: url(../../RessourcesImport/Images/sword.gif);
    background-repeat: no-repeat;
    background-size: 3vmin;
    background-position: 2vw 1vh;
}