@font-face {
    font-family: Bethesda;
    src: url(../../Page/RessourcesImport/Square\ 721\ Regular.otf);
}
body
{
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    background: black;
}
.cercle1, .cercle3, .cercle5, .cercle2, .cercle4, .cercle6
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;   
    opacity: 0;    
}
.cercle1
{
    width: 45vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 5vh solid #5b1500;
    border-right: 5vh solid #5b1500;
}
.cercle2
{
    width: 55vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 5vh solid pink;
    border-bottom: 5vh solid pink;
}
.cercle3
{
    width: 65vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 5vh solid rgb(179, 43, 43);
    border-right: 5vh solid rgb(179, 43, 43);    
    animation-delay: .5s;
}
.cercle4
{
    width: 75vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 5vh solid rgb(47, 153, 61);
    border-bottom: 5vh solid rgb(47, 153, 61);    
    animation-delay: .5s;
}
.cercle5
{
    width: 85vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-left: 5vh solid white;
    border-right: 5vh solid white;
    animation-delay: .75s;
}
.cercle6
{
    width: 95vw ;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 5vh solid rgb(211, 168, 76);
    border-bottom: 5vh solid rgb(211, 168, 76);
    animation-delay: .75s;
}
.cercle1, .cercle3, .cercle5
{
    animation-name: rotate;
    animation-direction: reverse;
    animation-iteration-count: infinite;    
    animation-timing-function: linear;
    animation-duration: 5s;
}
.cercle2, .cercle4, .cercle6
{
    animation-name: rotate;    
    animation-iteration-count: infinite;
    animation-timing-function: linear;       
    animation-duration: 3s;
}
#hand:checked ~ .cercle1
{
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 0s;
}
#hand:checked ~ .cercle2
{
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 2s;
}
#hand:checked ~ .cercle3
{
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 4s;
}
#hand:checked ~ .cercle4
{
    opacity: 1;  
    transition-duration: 2s;
    transition-delay: 6s;
}
#hand:checked ~ .cercle5
{
    opacity: 1;   
    transition-duration: 2s;
    transition-delay: 8s;
}
#hand:checked ~ .cercle6
{
    opacity: 1;  
    transition-duration: 2s;
    transition-delay: 10s;
}
@keyframes rotate
{
    0% { }
    25% { border-width: 10vh;}
    50% { border-width: 1vh;}
    75% { border-width: 10vh;}
    100% { 
        transform: rotate(360deg);
        border-width: 5vh;
    }
}
.bloc1, .bloc2
{
    position: absolute;
    width: 50vw;
    height: 100vh;
    background:white;
    margin: auto;
    top: 0;
}
.bloc1
{
    left: 0;
}
.bloc2
{
    right: 0;
}
.button
{
    font-family: Bethesda;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 200px;
    height: 75px;
    background: lightblue;
    border-radius: 25px;
    text-shadow: 0 1px 2px black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.63);
    outline: none;
    border: none;    
    transition: .5s;
    z-index: 1;
}
.button p
{
    position:relative;
    display: block;
    top: -5px ;
}
.button:hover
{
    scale: 1.2;
    transition: .5s;    
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.button:active
{
    scale: 0.8;
}
@keyframes ghost
{
    to { scale: 0;
    transform: rotate(1480deg);
    display: none;
}
}
#hand:checked ~ .button
{
    animation-name: ghost;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes slide1
{
    to { 
        transform: translate(-50vw);
        display: none;
    }
}
@keyframes slide2
{
    to { 
        transform: translate(50vw);
        display: none;
    }
}
#hand
{
    visibility: hidden;
}
#hand:checked ~ .bloc1
{
    animation-name: slide1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#hand:checked ~ .bloc2
{
    animation-name: slide2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#burg
{
    position: absolute;
    /* visibility: hidden; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    scale: 0;
}
#hand:checked ~ #burg
{
    scale: 1;
    visibility: visible;
    transition-duration: 1s;
    transition-delay: 13s;
}

#burg1
{
    visibility: hidden;
}
@keyframes burg1
{
    0% { transform: translate(-100vw) }
    25% { transform: translate(150vw);}
    50% { transform: translate(150vw, 60vh);
        scale: 1.5;
        opacity: 1;}
    75% { transform: translate(-100vw, 60vh);
            scale: 1.5;
            opacity: 1;}
    100% {
        transform: translate(-100vw)
    }        
}
#hand:checked ~ #burg1
{
    position: absolute;
    scale: .7;
    animation-name: burg1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0;
    left: -120vw;
    right: 0;
    margin: auto;
    opacity: .2;
    visibility: visible;
    animation-delay: 14s;
    z-index: 5;
}