@font-face {
    font-family: Alegreya;
    src: url(./AlegreyaSans-ExtraBold.ttf);
}@font-face {
    font-family: DQ;
    src: url(./dragon-quest-ds.ttf);
}@font-face {
    font-family: Gwent;
    src: url(./hinted-GWENT-ExtraBold.ttf);
}@font-face {
    font-family: Lifecraft;
    src: url(./LifeCraft_Font.ttf);
}@font-face {
    font-family: MG;
    src: url(./METAG___.TTF);
}@font-face {
    font-family: Bethesda;
    src: url(./Square\ 721\ Regular.otf);
}