@import url(../../RessourcesImport/menu/menu.css);
@import url(../../Main/default.css);
@import url(../../RessourcesImport/Polices/polices.css);

/*P/ --------------------------------------------------Form----------------------------------------------------------------*/
#contactform
{
    width: 100vw;
    height : 100vh;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position: absolute;
}
#form
{
    width: 50vw;
    height: 100vh;
    right : 0; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
    background-color: #131313a2;
    display: grid;
    padding-left: 3.25vw;
    padding-top: 25vh;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(8, 5vh);
    row-gap: 2.5vh;
    column-gap: 1.25vw;
}
#form *
{
    font-family: Hades;
    font-size: 16px;
    border: none;
    background: #F8F8FF;
    box-shadow: 5px 5px 5px black;
    outline: solid #131313a2;
    z-index: 2;
}
#selection, #reason, #send
{
    background-color: #8B8989;
}
#name
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
#firstname
{
    grid-row: 1;
    grid-column: 3 / span 2;
}
#mail
{
    grid-row: 2;
    grid-column: 1 / span 4;
}
#selection
{
    grid-row: 3;
    grid-column: 1 / span 2;
    width: 11.35vw;
    font-size: 15px;
}
#coordonnate
{
    grid-row: 3;
    grid-column: 2 / span 3;
}
#reason
{
    grid-row: 4;
    grid-column: 1 / span 4;
}
#message
{
    grid-row: auto / span 3;
    grid-column: 1 / span 4;
    resize: none;
}
#send
{
    position: relative;
    top: -7vh;
    grid-row: auto;
    grid-column: 4;
    width: 12.5vw;
    height: 8vh;
    outline: none;
    /* border: none;
    background-color: dimgrey; */
}

#send:active
{
    scale: 0.95;
}
#form canvas
{
    position: absolute;
    background-color: #00000000;
    pointer-events: none;
    z-index: 1;
}

/*P// --------------------------------------------------Link Contact----------------------------------------------------------------*/
#contact
{
    width: 41.5vw;
    /* background-color: red; */
    left : 0 ; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vh 20vh;
    padding-top: 25vh;
    padding-left: 3vw;
}
#contact i
{
    filter: drop-shadow(0px 10px 5px black);
}