@font-face {
    font-family: Hades;
    src: url(../RessourcesImport/AlegreyaSans-ExtraBold.ttf);
}

body
{
    background-color: #2b2a33;
    ;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), default;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:focus {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), default;
}

a:active {
    color: black;
    text-decoration: none;
}
/*---------------------------------------------Cliquable burger---------------------------------------------------------------------*/
.menu
{
    background-color: rgba(0, 0, 0, 0);
    top: 25px;
    width: 40px;
    height: 50px;
    position: absolute;    
    z-index: 1;
    cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), default;
}
.emoji
{
    background-color: rgb(0, 0, 0);
    top: 50px;
    width: 40px;
    height: 5px;
    position: absolute;
    z-index: 0;
    transition: 2s;
    border-radius: 20px;
}
.emoji::before
{
position: absolute;
content: '';
width: inherit;
height: inherit;
background:inherit ;
top:-15px;
border-radius: 20px;
}
.emoji::after
{
position: absolute;
content: '';
width: inherit;
height: inherit;
background:inherit ;
top:15px;
border-radius: 20px;
}
#burger
{
    visibility: hidden;
}

/*-----------------------------------------------Menu burger--------------------------------------------------------------------------*/
menu
{
    position: absolute;
    font-size: 20px;
    left: -20vw;
    top: -20px;
    list-style: none;
    width: 15vw;
    opacity: 0;
    height: 110vh;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 2s;
    z-index: 5;
}
li
{
    position: relative;
    top: 100px;
    left: -50px;
    /* list-style-image: url(../ON-icon-zonestory-assisted.png); */
    list-style: none;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 5vh;
    
}
li::before
{
    position: relative;
    content: url(../RessourcesImport/ON-icon-zonestory-assisted.png);
    top: 5px;
}
#burger:checked ~ menu
{
    visibility: visible;
    opacity: 1;
    transition-duration: 2s;
    transform: translate(20vw);
}
/*------------------------------------------------Animation------------------------------------------------------------------------*/
.cross
{
    background-color: rgb(0, 0, 0);
    top: 50px;
    width: 40px;
    height: 5px;
    position: absolute;
    z-index: 0;
    rotate: 45deg;
    visibility: hidden;
    transition: 2s;
    opacity: 0;
    border-radius: 20px;
}
.cross2
{
    background-color: rgb(0, 0, 0);
    top: 50px;
    width: 40px;
    height: 5px;
    position: absolute;
    z-index: 0;
    rotate: -45deg;
    visibility: hidden;
    transition: 2s;    
    opacity: 0;
    border-radius: 20px;
}
#burger:checked ~ .cross
{
    transform: scale(1);
    transform: rotate(720deg);
    visibility: visible;
    transition: 3s;
    opacity: 1;
}
#burger:checked ~ .cross2
{
    transform: scale(1);
    transform: rotate(720deg);
    visibility: visible;
    opacity: 1;
    transition: 3s;
}
#burger:checked ~ .emoji
{
    transform: rotate(720deg);
    opacity: 0;
    animation-duration: 2s;
}
#burger:checked ~ .prjt
{    
    transform: scale(0.8);    
    margin-left: 20vw;    
    margin-top: 0vh;    
    row-gap: 15vh;
    transition: 2s;
}

/*--------------------------------------------------Form----------------------------------------------------------------*/
#contactform
{
    width: 100vw;
    height : 100vh;
    left : 0 ; top: 0 ; bottom: 0 ; right: 0 ; margin: auto;
    position: absolute;
}
#form
{
    width: 50vw;
    height: 100vh;
    /* background-color: hotpink; */
    left : 0 ; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
}
#form
{
    background-color: #131313a2;
    left: 50vw;
    display: grid;
    padding-left: 3.25vw;
    padding-top: 35vh;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(8, 5vh);
    row-gap: 2.5vh;
    column-gap: 1.25vw;
}
#form *
{
    font-family: Hades;
    font-size: 16px;
    border: none;
    background: #F8F8FF;
    box-shadow: 5px 5px 5px black;
    outline: solid #131313a2;
    z-index: 2;
}
#selection, #reason, #send
{
    background-color: #8B8989;
}
#name
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
#firstname
{
    grid-row: 1;
    grid-column: 3 / span 2;
}
#mail
{
    grid-row: 2;
    grid-column: 1 / span 4;
}
#selection
{
    grid-row: 3;
    grid-column: 1 / span 2;
    width: 11.35vw;
    font-size: 15px;
}
#coordonnate
{
    grid-row: 3;
    grid-column: 2 / span 3;
}
#reason
{
    grid-row: 4;
    grid-column: 1 / span 4;
}
#message
{
    grid-row: auto / span 3;
    grid-column: 1 / span 4;
    resize: none;
}
#send
{
    position: relative;
    top: -7vh;
    grid-row: auto;
    grid-column: 4;
    width: 12.5vw;
    height: 8vh;
    outline: none;
    /* border: none;
    background-color: dimgrey; */
}

#send:active
{
    scale: 0.95;
}

#form canvas
{
    position: absolute;
    background-color: #00000000;
    pointer-events: none;
    z-index: 1;
}

/*--------------------------------------------------Contact----------------------------------------------------------------*/
#contact
{
    width: 41.5vw;
    /* background-color: red; */
    left : 0 ; top: 0 ; bottom: 0 ; margin: auto;
    position: absolute;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vh 20vh;
    padding-top: 25vh;
    padding-left: 3vw;
}
.fa-linkedin-in, .fa-discord, .fa-twitter, .fa-github
{
    filter: drop-shadow(0px 10px 5px black);
}